<html>
    <head>
        <title>Create new user</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Create new user</h1>

        <a href="{{ url_for('login', next=next_page)}}">Already have an account? Log in here.</a>

        <form method="post">
            <label for="username">Username: </label><input name="username" value="{{ username }}">
            {% if username_error %}<p style="color: red">{{ username_error }}</p>{% endif %}<br>
            <label for="email">Email: </label><input name="email" value="{{ email }}">
            {% if email_error %}<p style="color: red">{{ email_error }}</p>{% endif %}<br>
            <label for="password">Password: </label><input name="password" value="{{ password }}">
            {% if password_error %}<p style="color: red">{{ password_error }}</p>{% endif %}<br>
            <input type="hidden" name="next" value="{{ next_page }}">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>